extends layout.pug
block contenido
    if error
        h1 La ruta ingresada no corresponde a ninguna, por favor ingrese una ruta correcta
    else 
        h1 La Patente ingresada no se encuentra en nuestra base de datos    
