doctype html
html(lang="es")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        block titulo
        
        link(rel="stylesheet", href="bootstrap.css")
        script(src="bootstrap.bundle.js") 
    body.bg-light
    div.container 
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand.float-start(href='/') TP5
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .container-fluid
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(aria-current='page' href='/index') Inicio
                    li.nav-item
                        a.nav-link(href='/insertar') Insertar
                    li.nav-item
                        a.nav-link(href='/actualizar') Actualizar
                    li.nav-item
                        a.nav-link(href='/borrar' ) Borrar
    block formulario 
    block contenido
    block codigo                     

        
        
            